.contacts {
    padding-top: 9.9rem;
    padding-bottom: 11.4rem;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);

    &__desc {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.6;
        text-align: center;
        color: #ffffff;
    }
}

@media (max-width: 999.98px) {
    .contacts {
        padding: 0 2rem;
        padding-bottom: 5.6rem;
        padding-top: 6.5rem;

        &__desc {
            margin-top: 2.1rem;
            font-size: 1.5rem;
            line-height: 1.218;
        }
    }
}

@media (max-width: 499.98px) {
    .contacts {
    }
}
