.contacts {
    padding-top: 9.9rem;
    padding-bottom: 11.4rem;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);

    &__desc {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.6;
        text-align: center;
        color: #ffffff;
    }
}

@media (max-width: 999.98px) {
    .contacts {
    }
}

@media (max-width: 499.98px) {
    .contacts {
    }
}
