.finance {
    padding-top: 5.5rem;
    padding-bottom: 7.8rem;
    background: linear-gradient(90deg, #000000 0%, #434343 100%);

    &__h1 {
        margin-bottom: calc(52 / 35) + em;
    }

    &__table {
        background: #ffffff;
        border-radius: 5.5rem;
        padding: 6.4rem 4rem 4rem 4rem;
        max-width: 100rem;
        margin: 0 auto;

        table {
            width: 100%;
            max-width: 75.4rem;
            margin: 0 auto;

            td {
                border-bottom: 1px solid #eeeeee;
                padding: 2.8rem;
                padding-left: 0;
                font-size: 2rem;
                line-height: calc(24 / 20) + em;

                &:nth-child(1) {
                    padding-left: 2.8rem;
                    width: 45%;
                    font-weight: 700;
                    line-height: calc(32 / 20);
                    text-transform: uppercase;
                    color: #001c35;
                }
            }
        }
    }
}

@media (max-width: 999.98px) {
    .finance {
    }
}

@media (max-width: 499.98px) {
    .finance {
    }
}
