.footer {
    padding-top: 6rem;
    padding-bottom: 5rem;
    font-family: "Mont";
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: calc(26 / 20) + em;
    text-align: center;
    color: #000000;
}

@media (max-width: 999.98px) {
    .footer {
    }
}

@media (max-width: 499.98px) {
    .footer {
    }
}
