.goods {
    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__col {
        flex: 0 0 auto;
        width: 33.33%;
    }
}

@media (max-width: 999.98px) {
    .goods {
    }
}

@media (max-width: 499.98px) {
    .goods {
    }
}
