.header {
    transition: all 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    padding-top: 4.5rem;

    &.fixed {
        background: rgba(#000, 0.8);
        padding: 2rem 0;
    }

    &--no-bg {
        transition: none;
        background: transparent !important;
    }

    &__center {
        @extend .page__center;
    }

    &__btn-burger {
        display: none;
    }
}

@media (max-width: 999.98px) {
    .header {
        padding: 1rem 0;

        &.fixed {
            padding: 1rem 0;
        }

        &__center {
            max-width: none;
            display: flex;
        }

        &__btn-burger {
            display: block;
            margin-left: auto;
            margin-right: -1rem;
        }
    }
}

@media (max-width: 499.98px) {
    .header {
    }
}
