.page {
    &__wrapper {
        overflow: hidden;
    }

    &__locked {
        overflow: hidden;
    }

    &__center {
        padding: 0 var(--side-padding);
        box-sizing: content-box;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__h1 {
        margin-bottom: calc(40 / 35) + em;
        font-weight: 800;
        font-size: 3.5rem;
        line-height: 1.363;
        background: linear-gradient(90deg, #ea5b0d 0%, #f37335 100%);
        @include text-gradient;
        text-align: center;
    }
}

@media (max-width: 999.98px) {
    .page {
        &__center {
            max-width: 600px;
        }
    }
}
