.promo {
    background: #000 url(../img/promo/1.jpeg) no-repeat 0 0 / auto 100%;
    padding-top: 22.8rem;
    padding-bottom: 10rem;

    &__logo {
        position: relative;
        display: inline-block;
        width: 17.1rem;
    }

    &__desc {
        margin-top: 4.7rem;
        max-width: 65rem;
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.408;
        color: #ffffff;
    }

    &__btn-price {
        margin-top: 4.2rem;
    }
}

@media (max-width: 999.98px) {
    .promo {
        padding: 16.2rem 2rem 9.2rem 2rem;

        &__logo {
        }

        &__desc {
            margin-top: 3.2rem;
            font-size: 1.5rem;
        }

        &__btn-price {
            margin-top: 5rem;
        }
    }
}

@media (max-width: 499.98px) {
    .promo {
    }
}
