@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont/Mont-Black.eot");
  src: local("Mont Black"), local("Mont-Black"), url("../fonts/Mont/Mont-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Black.woff2") format("woff2"), url("../fonts/Mont/Mont-Black.woff") format("woff"), url("../fonts/Mont/Mont-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont/Mont-Bold.eot");
  src: local("Mont Bold"), local("Mont-Bold"), url("../fonts/Mont/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont/Mont-Bold.woff") format("woff"), url("../fonts/Mont/Mont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont/Mont-Heavy.eot");
  src: local("Mont Heavy"), local("Mont-Heavy"), url("../fonts/Mont/Mont-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Heavy.woff2") format("woff2"), url("../fonts/Mont/Mont-Heavy.woff") format("woff"), url("../fonts/Mont/Mont-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont/Mont-SemiBold.eot");
  src: local("Mont SemiBold"), local("Mont-SemiBold"), url("../fonts/Mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-SemiBold.woff2") format("woff2"), url("../fonts/Mont/Mont-SemiBold.woff") format("woff"), url("../fonts/Mont/Mont-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont/Mont-Regular.eot");
  src: local("Mont Regular"), local("Mont-Regular"), url("../fonts/Mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Regular.woff2") format("woff2"), url("../fonts/Mont/Mont-Regular.woff") format("woff"), url("../fonts/Mont/Mont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont/Mont-Light.eot");
  src: local("Mont Light"), local("Mont-Light"), url("../fonts/Mont/Mont-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Mont/Mont-Light.woff2") format("woff2"), url("../fonts/Mont/Mont-Light.woff") format("woff"), url("../fonts/Mont/Mont-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.d-block {
  display: block !important;
}

.d-none {
  display: block !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.w-100 {
  width: 100%;
}

.link-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nice-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition: background-size 0.25s ease-out, color 0.2s;
}
.nice-link:hover {
  background-size: 100% 1px;
}
.nice-link--active {
  background-size: 100% 1px;
}
.nice-link--active:hover {
  background-size: 0 1px;
}

.edge-area {
  width: 10%;
  max-width: 70px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  pointer-events: none;
}
.edge-area.active {
  display: block;
}
.edge-area--l {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.edge-area--r {
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  left: auto;
  right: 0;
}

.image-box {
  position: relative;
}
.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

:root {
  --side-padding: 12rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(7px, 0.7vw, 10px);
}

body {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  min-width: 320px;
  background: #fff;
  font-family: "Mont", sans-serif;
  color: #000;
}

img {
  max-width: 100%;
}

img[data-src] {
  visibility: hidden;
}

a,
button {
  transition: all 0.2s;
}

a {
  text-decoration: none;
  color: currentColor;
}

.btn-burger {
  display: inline-block;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 1rem;
  line-height: 0;
}
.btn-burger span {
  display: inline-block;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}
.btn-burger i {
  transition: all 0.2s;
  display: block;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  width: 100%;
}
.btn-burger i:nth-child(1) {
  transform: translateY(-0.7rem);
}
.btn-burger i:nth-child(3) {
  transform: translateY(0.7rem);
}
.btn-burger.active i:nth-child(1) {
  transform: rotate(45deg);
}
.btn-burger.active i:nth-child(2) {
  opacity: 0;
}
.btn-burger.active i:nth-child(3) {
  transform: rotate(-45deg);
}

.btn-arrow {
  display: inline-block;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  padding: 0.2rem 0.9rem;
  border: 2px solid #f37335;
  align-items: center;
  font-family: "Arial Black";
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #f37335;
}
.btn-arrow .icon {
  margin-left: 0.7142857143em;
  width: 1em;
  height: 1em;
  font-size: 0.875em;
  fill: #f37335;
}

.page__wrapper {
  overflow: hidden;
}
.page__locked {
  overflow: hidden;
}
.page__center {
  padding: 0 var(--side-padding);
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
}
.page__h1 {
  margin-bottom: 1.1428571429em;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.363;
  background: linear-gradient(90deg, #ea5b0d 0%, #f37335 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
}

@media (max-width: 999.98px) {
  .page__center {
    max-width: 600px;
  }
}
.goods__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.goods__col {
  flex: 0 0 auto;
  width: 33.33%;
}

.contacts {
  padding-top: 9.9rem;
  padding-bottom: 11.4rem;
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
}
.contacts__desc {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}

.finance {
  padding-top: 5.5rem;
  padding-bottom: 7.8rem;
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
}
.finance__h1 {
  margin-bottom: 1.4857142857em;
}
.finance__table {
  background: #ffffff;
  border-radius: 5.5rem;
  padding: 6.4rem 4rem 4rem 4rem;
  max-width: 100rem;
  margin: 0 auto;
}
.finance__table table {
  width: 100%;
  max-width: 75.4rem;
  margin: 0 auto;
}
.finance__table table td {
  border-bottom: 1px solid #eeeeee;
  padding: 2.8rem;
  padding-left: 0;
  font-size: 2rem;
  line-height: 1.2em;
}
.finance__table table td:nth-child(1) {
  padding-left: 2.8rem;
  width: 45%;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
  color: #001c35;
}

.footer {
  padding-top: 6rem;
  padding-bottom: 5rem;
  font-family: "Mont";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.3em;
  text-align: center;
  color: #000000;
}

.nav-mobile {
  transition: all 0.2s;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #1a1b1f;
  max-width: 35rem;
  min-width: 320px;
  transform: translateX(100%);
}
.nav-mobile__window {
  overflow: auto;
  height: 100%;
  padding: 6.5rem 2.4rem;
}
.nav-mobile__links li {
  margin: 1.6rem 0;
}
.nav-mobile__links li:first-child {
  margin-top: 0;
}
.nav-mobile__links li:last-child {
  margin-bottom: 0;
}
.nav-mobile__links li a {
  font-family: "Arial Black";
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.3333333333;
  color: #ffffff;
}
.nav-mobile__links li a.active, .nav-mobile__links li a:hover {
  color: #fe9149;
}
.nav-mobile__btn-arrow {
  margin-top: 3.2rem;
}

@media (max-width: 999.98px) {
  .nav-mobile.active {
    transform: translateX(0);
  }
}
@media (max-width: 499.98px) {
  .nav-mobile {
    max-width: none;
  }
}
.article {
  font-size: 2rem;
  line-height: 1.4;
}
.article ul {
  list-style: outside disc;
  padding-left: 3rem;
}
.article ul li {
  margin: 1.15em 0;
}
.article ul li:first-child {
  margin-top: 0;
}
.article ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 999.98px) {
  .article {
    font-size: 1.5rem;
  }
  .article ul {
    padding-left: 0;
  }
}
@media (max-width: 999.98px) {
  :root {
    --side-padding: 2rem;
  }

  html {
    font-size: 10px;
  }
}