@font-face {
  font-family: "Mont";
  src: url("../fonts/test/Mont Thin.eot");
  src: local("Mont-Thin"), local(Mont Thin), url("../fonts/test/Mont Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/test/Mont Thin.woff2") format("woff2"), url("../fonts/test/Mont Thin.woff") format("woff"), url("../fonts/test/Mont Thin.svg#Mont Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/test/Mont ExtraLight.eot");
  src: local("Mont-ExtraLight"), local(Mont ExtraLight), url("../fonts/test/Mont ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/test/Mont ExtraLight.woff2") format("woff2"), url("../fonts/test/Mont ExtraLight.woff") format("woff"), url("../fonts/test/Mont ExtraLight.svg#Mont ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/test/Mont Light.eot");
  src: local("Mont-Light"), local(Mont Light), url("../fonts/test/Mont Light.eot?#iefix") format("embedded-opentype"), url("../fonts/test/Mont Light.woff2") format("woff2"), url("../fonts/test/Mont Light.woff") format("woff"), url("../fonts/test/Mont Light.svg#Mont Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/test/Mont Regular.eot");
  src: local("Mont-Regular"), local(Mont Regular), url("../fonts/test/Mont Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/test/Mont Regular.woff2") format("woff2"), url("../fonts/test/Mont Regular.woff") format("woff"), url("../fonts/test/Mont Regular.svg#Mont Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/test/Mont SemiBold.eot");
  src: local("Mont-SemiBold"), local(Mont SemiBold), url("../fonts/test/Mont SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/test/Mont SemiBold.woff2") format("woff2"), url("../fonts/test/Mont SemiBold.woff") format("woff"), url("../fonts/test/Mont SemiBold.svg#Mont SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/test/Mont Bold.eot");
  src: local("Mont-Bold"), local(Mont Bold), url("../fonts/test/Mont Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/test/Mont Bold.woff2") format("woff2"), url("../fonts/test/Mont Bold.woff") format("woff"), url("../fonts/test/Mont Bold.svg#Mont Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/test/Mont Heavy.eot");
  src: local("Mont-Heavy"), local(Mont Heavy), url("../fonts/test/Mont Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/test/Mont Heavy.woff2") format("woff2"), url("../fonts/test/Mont Heavy.woff") format("woff"), url("../fonts/test/Mont Heavy.svg#Mont Heavy") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/test/Mont Black.eot");
  src: local("Mont-Black"), local(Mont Black), url("../fonts/test/Mont Black.eot?#iefix") format("embedded-opentype"), url("../fonts/test/Mont Black.woff2") format("woff2"), url("../fonts/test/Mont Black.woff") format("woff"), url("../fonts/test/Mont Black.svg#Mont Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.d-block {
  display: block !important;
}

.d-none {
  display: block !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.w-100 {
  width: 100%;
}

.link-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nice-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition: background-size 0.25s ease-out, color 0.2s;
}
.nice-link:hover {
  background-size: 100% 1px;
}
.nice-link--active {
  background-size: 100% 1px;
}
.nice-link--active:hover {
  background-size: 0 1px;
}

.edge-area {
  width: 10%;
  max-width: 70px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  pointer-events: none;
}
.edge-area.active {
  display: block;
}
.edge-area--l {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.edge-area--r {
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  left: auto;
  right: 0;
}

.image-box {
  position: relative;
}
.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1000px) {
  .d-lg-none {
    display: none;
  }
}
@media (max-width: 999.98px) {
  .d-sm-none {
    display: none;
  }
}
:root {
  --side-padding: 12rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(7px, 0.7vw, 10px);
}

body {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  min-width: 320px;
  background: #fff;
  font-family: "Mont", sans-serif;
  color: #000;
}

img {
  max-width: 100%;
}

img[data-src] {
  visibility: hidden;
}

a,
button {
  transition: all 0.2s;
}

a {
  text-decoration: none;
  color: currentColor;
}

.btn-burger {
  display: inline-block;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 1rem;
  line-height: 0;
}
.btn-burger span {
  display: inline-block;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}
.btn-burger i {
  transition: all 0.2s;
  display: block;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  width: 100%;
}
.btn-burger i:nth-child(1) {
  transform: translateY(-0.7rem);
}
.btn-burger i:nth-child(3) {
  transform: translateY(0.7rem);
}
.btn-burger.active i {
  background: #ea5b0d;
}
.btn-burger.active i:nth-child(1) {
  transform: rotate(45deg);
}
.btn-burger.active i:nth-child(2) {
  opacity: 0;
}
.btn-burger.active i:nth-child(3) {
  transform: rotate(-45deg);
}

.btn-arrow {
  display: inline-block;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  padding: 0.2rem 1.5rem;
  border: 2px solid #f37335;
  align-items: center;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.5;
}
.btn-arrow .icon {
  margin-left: 0.7142857143em;
  width: 1em;
  height: 1em;
  font-size: 0.875em;
  fill: #f37335;
}

.btn-white {
  display: inline-block;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  min-width: 10.25em;
  border: 0.3rem solid #ffffff;
  box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  padding: 0.7em 0.5em;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-white:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 999.98px) {
  .btn-white {
    min-width: 8.6666666667em;
    padding: 0.4666666667em 0.6666666667em;
    font-size: 1.5rem;
  }
}
.page__wrapper {
  overflow: hidden;
}
.page__locked {
  overflow: hidden;
}
.page__center, .header__center {
  padding: 0 var(--side-padding);
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
}
.page__h1 {
  margin-bottom: 1.1428571429em;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.363;
  background: linear-gradient(90deg, #ea5b0d 0%, #f37335 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
}

@media (max-width: 999.98px) {
  .page__center, .header__center {
    max-width: 600px;
  }
  .page__h1 {
    margin-bottom: 0.32em;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
.goods {
  padding-bottom: 7rem;
  padding-top: 4rem;
}
.goods__list {
  max-width: 100rem;
  margin: 0 auto;
}
.goods__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -3rem;
  margin-top: -6rem;
}
.goods__col {
  flex: 0 0 auto;
  width: 33.33%;
  padding: 0 3rem;
  margin-top: 6rem;
}
.goods__item {
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 0px 0.8rem 2.7rem rgba(0, 0, 0, 0.25);
  border-radius: 2.4rem;
  min-height: 30rem;
}
.goods__image {
  position: relative;
  height: 14rem;
}
.goods__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.goods__desc {
  padding: 1rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  text-align: center;
}
.goods__article {
  display: none;
}

@media (max-width: 999.98px) {
  .goods {
    padding-top: 3rem;
    padding-bottom: 4.5rem;
  }
  .goods__list {
    max-width: 28rem;
  }
  .goods__row {
    margin-top: -4.2rem;
  }
  .goods__col {
    width: 100%;
    margin-top: 4.2rem;
  }
  .goods__text {
    padding: 0 1.2rem;
  }
  .goods__h1 {
    text-align: left;
  }
  .goods__article {
    display: block;
    margin-bottom: 5.2rem;
  }
}
.contacts {
  padding-top: 9.9rem;
  padding-bottom: 11.4rem;
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
}
.contacts__desc {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 999.98px) {
  .contacts {
    padding: 0 2rem;
    padding-bottom: 5.6rem;
    padding-top: 6.5rem;
  }
  .contacts__desc {
    margin-top: 2.1rem;
    font-size: 1.5rem;
    line-height: 1.218;
  }
}
.finance {
  padding-top: 5.5rem;
  padding-bottom: 7.8rem;
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
}
.finance__table {
  background: #ffffff;
  border-radius: 5.5rem;
  padding: 6.4rem 4rem 4rem 4rem;
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 5.2rem;
}
.finance__table table {
  width: 100%;
  max-width: 75.4rem;
  margin: 0 auto;
}
.finance__table td {
  border-bottom: 1px solid #eeeeee;
  padding: 2.8rem;
  padding-left: 0;
  font-size: 2rem;
  line-height: 1.2em;
}
.finance__table td:nth-child(1) {
  padding-left: 2.8rem;
  width: 45%;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
  color: #001c35;
}

@media (max-width: 999.98px) {
  .finance__table {
    border-radius: 3.8rem;
    padding: 3rem 3.7rem;
  }
  .finance__table table,
.finance__table tr,
.finance__table td {
    display: block;
    width: 100% !important;
  }
  .finance__table tr {
    padding: 3.2rem 1rem;
    border-bottom: 1px solid #c2c2c2;
  }
  .finance__table tr:last-child {
    border-bottom: 0;
  }
  .finance__table td {
    border-bottom: 0;
    padding: 0 !important;
    font-size: 1.8rem;
    line-height: 1.2222222222;
  }
  .finance__table td:first-child {
    margin-bottom: 1rem;
  }
}
.footer {
  padding-top: 6rem;
  padding-bottom: 5rem;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.3em;
  text-align: center;
}

@media (max-width: 999.98px) {
  .footer {
    padding-top: 2.6rem;
    padding-bottom: 2.1rem;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.2666666667;
  }
}
.header {
  transition: all 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  padding-top: 4.5rem;
}
.header.fixed {
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem 0;
}
.header--no-bg {
  transition: none;
  background: transparent !important;
}
.header__btn-burger {
  display: none;
}

@media (max-width: 999.98px) {
  .header {
    padding: 0 !important;
  }
  .header__center {
    max-width: none;
    display: flex;
  }
  .header__btn-burger {
    display: block;
    margin-left: auto;
    margin-right: -1rem;
  }
}
.nav-top ul {
  display: flex;
  justify-content: space-between;
}
.nav-top li a {
  display: inline-block;
  padding: 0.9rem 4.3rem;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.3em;
  color: #ffffff;
}
.nav-top li a.active {
  background: #ffffff;
  box-shadow: 0px 0.4rem 1.3rem rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  color: #eb6608;
}

@media (max-width: 999.98px) {
  .nav-top {
    display: none;
  }
}
.nav-mobile {
  transition: all 0.2s;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 35rem;
  min-width: 320px;
  transform: translateX(100%);
}
.nav-mobile__window {
  overflow: auto;
  height: 100%;
  padding: 6.5rem 2.4rem;
}
.nav-mobile__links li {
  margin: 1.6rem 0;
}
.nav-mobile__links li:first-child {
  margin-top: 0;
}
.nav-mobile__links li:last-child {
  margin-bottom: 0;
}
.nav-mobile__links li a {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.3333333333;
}
.nav-mobile__links li a.active, .nav-mobile__links li a:hover {
  color: #fe9149;
}
.nav-mobile__btn-arrow {
  margin-top: 3.2rem;
}

@media (max-width: 999.98px) {
  .nav-mobile.active {
    transform: translateX(0);
  }
}
@media (max-width: 499.98px) {
  .nav-mobile {
    max-width: none;
  }
}
.article {
  font-size: 2rem;
  line-height: 1.4;
}
.article ul {
  list-style: outside disc;
  padding-left: 3rem;
}
.article ul li {
  margin: 1.15em 0;
}
.article ul li:first-child {
  margin-top: 0;
}
.article ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 999.98px) {
  .article {
    font-size: 1.5rem;
  }
  .article ul {
    padding-left: 1.5rem;
  }
}
.promo {
  background: #000 url(../img/promo/1.jpeg) no-repeat 0 0/cover;
  padding-top: 22.8rem;
  padding-bottom: 10rem;
}
.promo__logo {
  position: relative;
  display: inline-block;
  width: 17.1rem;
}
.promo__desc {
  margin-top: 4.7rem;
  max-width: 65rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.408;
  color: #ffffff;
}
.promo__btn-price {
  margin-top: 4.2rem;
}

@media (max-width: 999.98px) {
  .promo {
    padding: 16.2rem 2rem 9.2rem 2rem;
  }
  .promo__desc {
    margin-top: 3.2rem;
    font-size: 1.5rem;
  }
  .promo__btn-price {
    margin-top: 5rem;
  }
}
@media (max-width: 999.98px) {
  .products {
    padding: 6.5rem 0;
  }
  .products__image {
    margin: 0 -3vw;
  }
}
@media (max-width: 999.98px) {
  :root {
    --side-padding: 2rem;
  }

  html {
    font-size: 10px;
  }
}