// @font-face {
//     font-family: "Mont";
//     src: url("../fonts/Mont/Mont Thin.eot");
//     src: local("Mont-Thin"), local(Mont Thin),
//         url("../fonts/Mont/Mont Thin.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/Mont/Mont Thin.woff2") format("woff2"),
//         url("../fonts/Mont/Mont Thin.woff") format("woff"),
//         url("../fonts/Mont/Mont Thin.svg#Mont Thin") format("svg");
//     font-weight: 100;
//     font-style: normal;
//     font-stretch: normal;
//     unicode-range: U+0020-0491;
// }

// @font-face {
//     font-family: "Mont";
//     src: url("../fonts/Mont/Mont ExtraLight.eot");
//     src: local("Mont-ExtraLight"), local(Mont ExtraLight),
//         url("../fonts/Mont/Mont ExtraLight.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/Mont/Mont ExtraLight.woff2") format("woff2"),
//         url("../fonts/Mont/Mont ExtraLight.woff") format("woff"),
//         url("../fonts/Mont/Mont ExtraLight.svg#Mont ExtraLight") format("svg");
//     font-weight: 200;
//     font-style: normal;
//     font-stretch: normal;
//     unicode-range: U+0020-0491;
// }

// @font-face {
//     font-family: "Mont";
//     src: url("../fonts/Mont/Mont Light.eot");
//     src: local("Mont-Light"), local(Mont Light),
//         url("../fonts/Mont/Mont Light.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/Mont/Mont Light.woff2") format("woff2"),
//         url("../fonts/Mont/Mont Light.woff") format("woff"),
//         url("../fonts/Mont/Mont Light.svg#Mont Light") format("svg");
//     font-weight: 300;
//     font-style: normal;
//     font-stretch: normal;
//     unicode-range: U+0020-0491;
// }

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont/Mont Regular.eot");
    src: local("Mont-Regular"), local(Mont Regular),
        url("../fonts/Mont/Mont Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Mont/Mont Regular.woff2") format("woff2"),
        url("../fonts/Mont/Mont Regular.woff") format("woff"),
        url("../fonts/Mont/Mont Regular.svg#Mont Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont/Mont SemiBold.eot");
    src: local("Mont-SemiBold"), local(Mont SemiBold),
        url("../fonts/Mont/Mont SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/Mont/Mont SemiBold.woff2") format("woff2"),
        url("../fonts/Mont/Mont SemiBold.woff") format("woff"),
        url("../fonts/Mont/Mont SemiBold.svg#Mont SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont/Mont Bold.eot");
    src: local("Mont-Bold"), local(Mont Bold),
        url("../fonts/Mont/Mont Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Mont/Mont Bold.woff2") format("woff2"),
        url("../fonts/Mont/Mont Bold.woff") format("woff"),
        url("../fonts/Mont/Mont Bold.svg#Mont Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont/Mont Heavy.eot");
    src: local("Mont-Heavy"), local(Mont Heavy),
        url("../fonts/Mont/Mont Heavy.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Mont/Mont Heavy.woff2") format("woff2"),
        url("../fonts/Mont/Mont Heavy.woff") format("woff"),
        url("../fonts/Mont/Mont Heavy.svg#Mont Heavy") format("svg");
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont/Mont Black.eot");
    src: local("Mont-Black"), local(Mont Black),
        url("../fonts/Mont/Mont Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Mont/Mont Black.woff2") format("woff2"),
        url("../fonts/Mont/Mont Black.woff") format("woff"),
        url("../fonts/Mont/Mont Black.svg#Mont Black") format("svg");
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}
